<section class="section-sm flex flex-column">
  <h1 class="heading">Edit Photos</h1>
  <% if @photos.errors.any?%>
    <p>Something went wrong:</p>
    <ul>
      <% @photos.errors.full_messages.each do |picture|%>
      <li><%=picture%></li>
      <%end%>
    </ul>
  <%end%>

  <%=form_with model: @photos, class: "flex flex-column" do |f|%>
      <div class="input">
        <%=f.label :name, "Title", class: "content-xs overline"%>
        <div class="input__container">
          <%=f.text_field :name, class: "input__content"%>
        </div>
      </div>

      <div class="input">
        <%=f.label :description, class: "content-xs overline"%>
        <div class="input__container">
          <%=f.text_area :description, class: "input__content"%>
        </div>
      </div>

      <div class="select">
        <%=f.label :category_id, class: "content-xs overline"%>
        <%= f.collection_select :category_id, Category.order(:name), :id, :name, { selected: @photos.category_id }, class: "select__input" %>
      </div>


      <div>
        <%=f.label :image, class: "content-xs overline"%>
        <div>
          <%=f.file_field :image, accept: "image/png, image/jpeg"%>
        </div>
      </div>

      <%=f.submit "Edit Photo", class: "button button-primary"%>
    <%end%>

    <%= link_to "Back", category_path(@photos.category), class: "button button-secondary center-text" %>
  </section>