<h1>Photos#show</h1>
<p>Find me in app/views/photos/show.html.erb</p>


<p><%=@photo.name%></p>
<p><%=@photo.description%></p>
<%=image_tag @photo.image%>
<%= form_with model: [@photo, @comment], method: :post do |f| %>
  <%=f.text_area :body%>
  <%=p @photo%>
  <%=p @comment%>
  <%=show_errors(@comment, :body)%>
  <%=f.submit%>
<%end%>
<%@comments.each do |comment|%>
  <p><%=comment.body%></p>
<%end%>
