<h1>Categories#edit</h1>
<p>Find me in app/views/categories/edit.html.erb</p>

<%=form_with model: @category, class: "flex flex-column gap-4 mb-4" do |f|%>
      <div class="input">
        <%=f.label :name, class: "content-xs overline"%>
        <div class="input__container">
          <%=f.text_field :name, class: "input__content"%>
        </div>
        <%=show_errors(@category, :name)%>
      </div>

      <div class="input">
        <%=f.label :description, class: "content-xs overline"%>
        <div class="input__container">
          <%=f.text_area :description, class: "input__content"%>
        </div>
        <%=show_errors(@category, :description)%>
      </div>

      <div>
        <%=f.label :cover, class: "content-xs overline"%>
        <div>
          <%=f.file_field :cover, accept: "image/png, image/jpeg"%>
        </div>
      </div>

      <%=f.submit class: "button button--secondary"%>
    <%end%>
    <%=link_to "Back", categories_path, class: "button button--subtle"%> 