<section>
    <div class="spacing">
      <h1 class="heading--lg black">Categories</h1>
      <%=link_to "New Category", new_category_path, class: "button button-primary"%>
      <div>
        <%@categories.each do |category|%>
            <div class="category-card">
              <%if category.cover.attached?%>
                <%=image_tag category.cover, class: "category-card_cover"%>
              <%end%>
              <div class="category-card_content">
                <%=link_to category.name, category_path(category), class: "category-card_name heading--md"%>
                <span class="category-card_photos"><%=category.photos_count%> photos</span>
                <div class="category-card_description">
                  <%=category.description%>
                </div>
                <div class="category-card_options">
                  <div class="option-button">
                    <%=link_to image_tag("icons/edit_icon.svg"), edit_category_path(category), class: "option-button_link edit"%>
                  </div>
                  <div class="option-button">
                    <%=link_to image_tag("icons/delete_icon.svg"), category_path(category), data: { turbo_method: :delete, 
                                                                                        turbo_confirm: "Seguro?" }, class: "option-button_link delete"%>
                  </div>
                </div>
              </div>
              
            </div>
        <%end%>
      </div>
    </div>
</section>