<section class="start">
  <div class="spacing">
    <div>
      <h1 class="heading--lg black mb-4"><%=@category.name%></h1>
      <p class="content-lg gray-400 mb-4"><%=@category.description%></p>
      <%=link_to "New photo", new_photo_path(category_id: @category.id), class: "button button-primary mb-4"%>
      <%=render "photo_cards"%>
    </div>
    <div>   
    <%=form_with model: [@category, @comment], method: :post do |f|%>
            <%=f.text_area :body%>
            <%=f.submit%>
    <%end%>
    </div>
    <div>
        <h2>Comments</h2>
        <%@comments.each do |comment|%>
          <hr>
          <p><%=comment.body%></p>
          <span>Sent <%=time_ago_in_words(comment.created_at)%> ago</span> 
          <%=link_to "Destroy", comment_path(comment), data: { turbo_method: :delete, 
                                                              turbo_confirm: "Seguro?" }%>
        <%end%>
    </div>
  </div>
</section>

<%= link_to "Back to Home", categories_path %>
