<!DOCTYPE html>
<html>
  <head>
    <title>RailsSomesplashC5w9Team07</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="container">
    <header>
      <%=link_to image_tag("brand/logo.png"), categories_path%>
      <%=link_to "Search", "/search", class: "button button-secondary"%>
    </header>
    <%= yield %>
    <footer>
      <p>Built with ♥ by</p>
      <div class="members">
        <%=link_to image_tag("icons/github.svg") + "Alonso Zevallos","https://github.com/alonsozf94", class: "member", target: "_blank"%>
        <%=link_to image_tag("icons/github.svg") + "Claudia Aybar", "https://github.com/claudiaa7p", class: "member", target: "_blank"%>
        <%=link_to image_tag("icons/github.svg") + "Jesús Tuesta", "https://github.com/jesustr20", class: "member", target: "_blank"%>
        <%=link_to image_tag("icons/github.svg") + "Ximena Calderón", "https://github.com/ximecalderon", class: "member", target: "_blank"%>
      </div>
    </footer>
  </body>
</html>
