<!DOCTYPE html>
<html>
  <head>
    <title>RailsSomesplashC5w9Team07</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <div class="container">
        <%=link_to image_tag("brand/logo.png"), categories_path%>
        <%=link_to "Search", "/search"%>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Build with ♥ by</p>
      <div>
        <%=link_to image_tag("icons/github.svg") + "Alonso Zevallos","https://github.com/alonsozf94", target: "_blank"%>
        <%=link_to image_tag("icons/github.svg") + "Claudia Aybar", "https://github.com/claudiaa7p", target: "_blank"%>
        <%=link_to image_tag("icons/github.svg") + "Jesús Tuesta", "https://github.com/jesustr20", target: "_blank"%>
        <%=link_to image_tag("icons/github.svg") + "Ximena Calderón", "https://github.com/ximecalderon", target: "_blank"%>
      </div>
    </footer>
  </body>
</html>
